In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
df = pd.read_csv('insurance.csv')

In [3]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [4]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [10]:
df = pd.get_dummies(df)

In [11]:
X = df.drop('charges', axis='columns')
Y = df['charges']

In [24]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,Y,train_size=0.9)

In [25]:
from sklearn.tree import DecisionTreeRegressor

model = DecisionTreeRegressor()

In [26]:
model.fit(X_train, y_train)

DecisionTreeRegressor()

In [27]:
model.score(X_test, y_test)

0.7534840977763442