In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [4]:
df = pd.read_csv('ionosphere.data', header=None)

In [5]:
df

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,1,0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.00000,0.03760,...,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300,g
1,1,0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,...,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447,b
2,1,0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,...,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238,g
3,1,0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,...,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000,b
4,1,0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,...,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,1,0,0.83508,0.08298,0.73739,-0.14706,0.84349,-0.05567,0.90441,-0.04622,...,-0.04202,0.83479,0.00123,1.00000,0.12815,0.86660,-0.10714,0.90546,-0.04307,g
347,1,0,0.95113,0.00419,0.95183,-0.02723,0.93438,-0.01920,0.94590,0.01606,...,0.01361,0.93522,0.04925,0.93159,0.08168,0.94066,-0.00035,0.91483,0.04712,g
348,1,0,0.94701,-0.00034,0.93207,-0.03227,0.95177,-0.03431,0.95584,0.02446,...,0.03193,0.92489,0.02542,0.92120,0.02242,0.92459,0.00442,0.92697,-0.00577,g
349,1,0,0.90608,-0.01657,0.98122,-0.01989,0.95691,-0.03646,0.85746,0.00110,...,-0.02099,0.89147,-0.07760,0.82983,-0.17238,0.96022,-0.03757,0.87403,-0.16243,g
350,1,0,0.84710,0.13533,0.73638,-0.06151,0.87873,0.08260,0.88928,-0.09139,...,-0.15114,0.81147,-0.04822,0.78207,-0.00703,0.75747,-0.06678,0.85764,-0.06151,g

In [22]:
df.groupby(34).count()

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
34,,,,,,,,,,,,,,,,,,,,,
b,126,126,126,126,126,126,126,126,126,126,...,126,126,126,126,126,126,126,126,126,126
g,225,225,225,225,225,225,225,225,225,225,...,225,225,225,225,225,225,225,225,225,225

In [31]:
class_b = df[df[34] == 'b']

In [33]:
class_b_over = class_b.sample(df[df[34] == 'g'].count()[0], replace=True)

In [35]:
class_g = df[df[34] == 'g']

In [38]:
#Now we are creating a new df with same name so that we don't need to change the code further

df = pd.concat([class_b_over, class_g])
df

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
77,0,0,1.00000,1.00000,1.00000,-1.00000,1.00000,1.00000,1.00000,1.00000,...,-1.00000,1.00000,1.00000,-1.00000,1.00000,-1.00000,-1.00000,-1.00000,1.00000,b
11,1,0,1.00000,-0.54210,1.00000,-1.00000,1.00000,-1.00000,1.00000,0.36217,...,-0.40888,1.00000,-0.62745,1.00000,-1.00000,1.00000,-1.00000,1.00000,-1.00000,b
15,1,0,0.50932,-0.93996,1.00000,0.26708,-0.03520,-1.00000,1.00000,-1.00000,...,0.92236,0.39752,0.26501,0.00000,0.00000,1.00000,0.23188,0.00000,0.00000,b
162,1,0,1.00000,-1.00000,1.00000,1.00000,-1.00000,1.00000,1.00000,-1.00000,...,-1.00000,1.00000,1.00000,1.00000,1.00000,-1.00000,1.00000,-1.00000,1.00000,b
11,1,0,1.00000,-0.54210,1.00000,-1.00000,1.00000,-1.00000,1.00000,0.36217,...,-0.40888,1.00000,-0.62745,1.00000,-1.00000,1.00000,-1.00000,1.00000,-1.00000,b
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,1,0,0.83508,0.08298,0.73739,-0.14706,0.84349,-0.05567,0.90441,-0.04622,...,-0.04202,0.83479,0.00123,1.00000,0.12815,0.86660,-0.10714,0.90546,-0.04307,g
347,1,0,0.95113,0.00419,0.95183,-0.02723,0.93438,-0.01920,0.94590,0.01606,...,0.01361,0.93522,0.04925,0.93159,0.08168,0.94066,-0.00035,0.91483,0.04712,g
348,1,0,0.94701,-0.00034,0.93207,-0.03227,0.95177,-0.03431,0.95584,0.02446,...,0.03193,0.92489,0.02542,0.92120,0.02242,0.92459,0.00442,0.92697,-0.00577,g
349,1,0,0.90608,-0.01657,0.98122,-0.01989,0.95691,-0.03646,0.85746,0.00110,...,-0.02099,0.89147,-0.07760,0.82983,-0.17238,0.96022,-0.03757,0.87403,-0.16243,g
350,1,0,0.84710,0.13533,0.73638,-0.06151,0.87873,0.08260,0.88928,-0.09139,...,-0.15114,0.81147,-0.04822,0.78207,-0.00703,0.75747,-0.06678,0.85764,-0.06151,g

In [39]:
X = df.iloc[:,:-1]
Y = df.iloc[:,-1]

In [40]:
from sklearn.model_selection import train_test_split

X_train, X_test , y_train, y_test  = train_test_split(X,Y, train_size=0.8, random_state=23)

In [41]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier(criterion='gini')

In [58]:
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.9333333333333333

In [59]:
model.predict(X_test)

array(['b', 'b', 'g', 'g', 'g', 'b', 'g', 'b', 'g', 'b', 'b', 'b', 'g',
       'g', 'b', 'b', 'g', 'b', 'g', 'b', 'g', 'b', 'g', 'g', 'b', 'b',
       'g', 'g', 'g', 'g', 'b', 'g', 'b', 'g', 'g', 'g', 'b', 'g', 'b',
       'b', 'g', 'g', 'b', 'b', 'b', 'g', 'g', 'g', 'b', 'g', 'g', 'g',
       'g', 'g', 'b', 'b', 'b', 'g', 'b', 'g', 'b', 'b', 'b', 'g', 'b',
       'g', 'g', 'g', 'b', 'g', 'b', 'g', 'g', 'g', 'b', 'g', 'g', 'g',
       'b', 'g', 'g', 'b', 'b', 'b', 'g', 'b', 'b', 'g', 'b', 'g'],
      dtype=object)