# KNN Regression

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"https://drive.google.com/uc?export=download&id=1xxDtrZKfuWQfl-6KA9XEd_eatitNPnkB")
df

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.00,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.00,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.00,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.00,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.00,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7115,3.0,2.0,325.00,2900.0,3,11206.896552,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7116,3.0,1.0,84.83,1780.0,3,4765.730337,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7117,2.0,1.0,48.00,880.0,2,5454.545455,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
7118,2.0,1.0,55.00,1000.0,2,5500.000000,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7119,2.0,1.0,78.00,1400.0,3,5571.428571,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

#### SPLIT DATA

In [3]:
x = df.drop('price',axis=1)
y = df['price']

print('Shape of x = ', x.shape)
print('Shape of y = ', y.shape)

Shape of x =  (7120, 107)
Shape of y =  (7120,)

In [10]:
from sklearn.model_selection import train_test_split

x_train , x_test , y_train, y_test = train_test_split(x,y,test_size = 0.2, random_state=51)

print('Shape of x_train = ' ,x_train.shape)
print('Shape of x_test = ' ,x_test.shape)
print('Shape of y_train = ' ,y_train.shape)
print('Shape of y_test = ' ,y_test.shape)

Shape of x_train =  (5696, 107)
Shape of x_test =  (1424, 107)
Shape of y_train =  (5696,)
Shape of y_test =  (1424,)

### KNN Regression - ML Model Training

In [20]:
from sklearn.neighbors import KNeighborsRegressor

regressor = KNeighborsRegressor(n_neighbors = 3)
regressor.fit(x_train , y_train)
regressor.score(x_test , y_test)

0.9077878214859648

In [21]:
regressor2 = KNeighborsRegressor(n_neighbors = 5)
regressor2.fit(x_train , y_train)
regressor2.score(x_test , y_test)

0.8858213777326956

In [23]:
regressor.predict(x_test)

array([ 77.96333333,  39.84666667, 121.        , ...,  32.34166667,
        62.66666667, 180.66666667])

In [24]:
y_test

2435     80.00
3113     40.00
426     120.00
1124     79.00
1161     45.00
         ...
2078     28.34
6855     84.00
4381     32.00
3862     63.00
43      180.00
Name: price, Length: 1424, dtype: float64